ai71==0.0.23
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
babel
beautifulsoup4
bertopic
bleach
blis==0.7.11
boto3
botocore
Brotli
cached-property
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib==0.16.0
cloudpickle
colorama
comm
confection
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cymem
Cython
datasets
debugpy
decorator
defusedxml
dill
dnspython
email_validator
en_core_web_sm
en_core_web_trf
Events==0.5
exceptiongroup
executing
fastapi
fastapi-cli
fastcoref==2.1.6
fastjsonschema
ffmpy
filelock
fqdn
frozenlist
fsspec
gmpy2
gradio
gradio_client
grpcio
h11
h2
hdbscan
hpack
httpcore
httptools
httpx==0.25.2
httpx-sse==0.3.1
huggingface-hub==0.17.3
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
jmespath
joblib
json5
jsonpatch==1.33
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
langchain==0.3.24
langchain-core==0.3.56
langchain-nvidia-ai-endpoints==0.3.9
langchain-text-splitters==0.3.8
langcodes
langsmith==0.3.37
llvmlite==0.44.0
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
mpi4py
mpmath
multidict
multiprocess
murmurhash
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
networkx
nltk
notebook
notebook_shim
numba
numpy==1.26.4
opensearch-py==2.8.0
optree
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pinecone
pinecone-plugin-inference
pinecone-plugin-interface
pkgutil_resolve_name
platformdirs
plotly
preshed
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyarrow==19.0.1
pybind11
pybind11_global
pycparser
pydantic
pydantic_core
pydub
Pygments
pynndescent
pyobjc-core
pyobjc-framework-Cocoa
PySocks
python-dateutil
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt==1.0.0
rfc3339_validator
rfc3986-validator
rich
rich-toolkit
rpds-py
ruff
s3transfer
safehttpx
safetensors
scikit-learn
scipy
semantic-version
Send2Trash
sentence-transformers
setuptools==75.8.2
shellingham
six
smart-open==6.4.0
sniffio
soupsieve
spacy==3.7.4
spacy-curated-transformers==0.3.0
spacy-legacy
spacy-loggers
SQLAlchemy==2.0.40
srsly
stack_data
starlette
sympy==1.13.1
tenacity==9.1.2
terminado
thinc==8.2.5
threadpoolctl
tiktoken==0.9.0
tinycss2
tokenizers==0.14.1
tomli
tomlkit
torch==2.5.1
tornado
tqdm
traitlets
transformers==4.34.1
typer==0.9.4
typer-slim==0.15.2
types-python-dateutil
typing-inspection
typing_extensions
typing_utils
tzdata
ujson
umap-learn
uri-template
urllib3
uvicorn
uvloop
wasabi
watchfiles
wcwidth
weasel==0.3.4
webcolors
webencodings
websocket-client
websockets
wheel==0.45.1
widgetsnbextension
wrapt
xxhash
yarl
zipp
zstandard==0.23.0
